.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(224, 224, 224);
  width: 70px;
  height: 70px;
  border-radius: 10px;
  mat-icon {
    color: #2C98F0;
  }
}

a {
  font-size: medium;
  color: #2C98F0;
}
