div {
  display: flex;
  flex-direction: column;
  border-bottom: 1.5px solid;
  width: 170px;
  gap: 20px;
  padding-top: 10px;
  padding-left: 10px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

h2 {
  font-family: 'Palatino, URW Palladio L, serif';
  margin-bottom: 40px;
}
