.container {
  width: 70%;
  margin-inline: auto;
  display: flex;
}

.sidebar {
  width: 300px;
  position: fixed;
}

.content {
  flex: 1;
  margin-left: 300px;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 100%;
  }

  .sidebar {
    position: static;
    width: 100%;
  }

  .content {
    margin-left: 0;
  }
}
