<div class="container">
  <h1>MY EDUCATION</h1>
  <img src="assets/images/university.jpg" />
  <div class="info">
    <div class="header">
      <h2>AN-Najah National University, <span>Sotware Engineer</span></h2>
      <h3>Expected graduation AUG 2024</h3>
    </div>
    <p>Studying Software Engineering at An-Najah National University, where I'm learning about programming, designing software, and building system architecture.
      Working with teams on projects to improve problem- solving skills. Appreciating the supportive academic environment, getting ready for a successful career in
      software engineering.</p>
  </div>
</div>
