.container {
  margin-top: 20px;
  margin-left: 10px;
}

.skills {
  margin-top: 100px;
  margin-left: 20px;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(25%, 1fr) );
  grid-template-rows: auto;
  grid-gap: 80px;
}
h4{
  font-family: Courier;
}

h1 {
  font-family: 'Andale Mono, monospace';
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: 50px;
  }

  h4 {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 2rem;
  }

  .skills {
    margin-top: 80px;
    grid-gap: 60px;
  }
}
